@import 'tailwindcss';

@theme {
  --color-primary: #4361ee;
  --font-poppins: 'Poppins', 'sans-serif';
}

/* src/index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hero-image .swiper-pagination-bullet {
  @apply h-1 w-full bg-slate-400 rounded-full;
}

.hero-image .swiper-pagination-bullet-active {
  @apply bg-blue-500;
}

.testimoni-pagination .swiper-pagination-bullet {
  @apply h-[3px] xl:h-full rounded-2xl bg-slate-300 w-full;
}

.testimoni-pagination .swiper-pagination-bullet-active {
  @apply bg-slate-700;
}

.blogs-pagination .swiper-pagination-bullet {
  @apply w-full h-1 rounded-xl bg-slate-500;
}

.blogs-pagination .swiper-pagination-bullet-active {
  @apply bg-white;
}
