@import 'tailwindcss';

@theme {
  --color-primary: #3a0ca3;
  --font-poppins: 'Poppins', 'sans-serif';
}

/* src/index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
